/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	/* background: red; */
	display: inline-block;
	width: 100%;
}

nav a {
	display: inline-block;
	margin: 20px;
	padding: 20px;
	color: gray;
	font-size: 18px;
	text-decoration: none;
}

.logo {
	padding-top: 10px;
	margin-left: 350px;
	margin-right: 220px;
	float: right;
}

.main {
	display: inline-block;
	padding: 50px;
	width: 100%;
	border-bottom: 1px solid black
}

.title {
	display: inline-block;
	margin-left: 250px;
	margin-right: 850px;
	text-align: center;
}

.button {
	background-color: white;
	color: gray;
	border: 2px solid gray;
	font-size: 25px;
	margin-left: 40px;
}

h1 {
	font-size: 80px;
	width: 150px;
}

.main-body {
	display: inline-block;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid black
}

.features {
	display: inline-block;
	width: 40%;
}

.about {
	display: inline-block;
	margin-top: 50px;
	margin-left: 200px;
	margin-bottom: 50px;
	width: 40%
}

.code {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%
}

.services {
	display: inline-block;
	width: 20%
}

.product {
	display: inline-block;
	margin-left: 250px;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 20%
}

.vision {
	display: inline-block;
	margin-left: 315px;
	width: 20%
}

footer {
	padding: 20px;
}

.copyright {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}